.list {
  width: 700px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px rgba(62, 118, 244, 0.14);
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
