.app {
  text-align: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#f4f0f3, #eaf3f7);
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
}

.wrapper {
  width: 700px;
  box-shadow: rgba(62, 118, 244, 0.14);
  margin: 0 auto;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
}
