.list_item {
  display: flex;
  height: 90px;
  padding: 26px 20px;
  background-color: white;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.list_item:first-child {
  border-radius: 6px 6px 0 0;
}

.list_item:last-child {
  border-radius: 0 0 6px 6px;
  margin-bottom: 0;
}

.list_item:hover {
  background-color: rgb(128, 128, 128, 0.5);
}

.text {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Muli";
  font-size: 12px;
  font-weight: 400;
}

.text:hover {
  overflow: visible;
  display: inline-block;
  white-space: normal;
  text-align: start;
}

.date {
  text-align: left;
  font-family: "Muli";
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
