@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: local("Muli"), url("./fonts/Muli.ttf") format("truetype"),
    url("./fonts/Muli.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Muli",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 37px;
  height: 37px;
  margin-bottom: 32px;
  margin-right: 10px;
  border-radius: 19px;
}

p {
  margin: 0;
  padding: 0;
}

b {
  font-family: "Muli";
  font-weight: 700;
  font-size: 14px;
}
